<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('head-links') -%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Log In</title>
  </head>
  <body>
    <%-include('visitor-navbar') -%>
    <div id="login-bg" class="container-fluid">
      <div class="row mx-auto">
        <div class="col">
            <div id="rounded-radius" class="container w-50 my-5 shadow white-bg">
              <div class="row">
                <div class="col text-center">
                  <img class="logo-icon my-3" src="public/book.png" />
                  <h2 class="mb-3">Book Repo</h2>
                </div>
              </div>

            <!-- Start of Log In Form -->
            <div class="row">
              <div class="col">
                <form method="POST" action="/login">
                  <!-- Email -->
                  <div class="form-group whole-input">
                    <label for="email">Email</label>
                    <input
                      type="email"
                      class="form-control shadow-none"
                      id="email"
                      name="email"
                      placeholder="Email"
                    />
                  </div>

                  <!-- Password -->
                  <div class="form-group whole-input">
                    <label for="password">Password</label>
                    <input
                      type="password"
                      class="form-control shadow-none"
                      id="password"
                      name="password"
                      placeholder="*******"
                    />
                  </div>
                  <!-- Log In button -->
                  <button
                    id="rounded-radius"
                    type="submit"
                    class="btn-block btn-dark p-2 mt-5 mb-3"
                  >
                    Log in
                  </button>
                </form>
              </div>
            </div>
            <!-- End of Log In Form -->

            <!-- Start of Sign Up Prompt -->
            <div class="row py-3">
              <div class="col">
                <p class="text-muted font-weight-light">
                  Don't have an account?
                  <a class="text-muted" href="/"><u>Sign up</u></a>
                </p>
              </div>
            </div>
            <!-- End of Sign Up Prompt -->
          </div>
          </div>
      </div>
    </div>


    <%- include('bootstrap-scripts') -%>
  </body>
</html>
